<!-- This is the manifest file for the application. This file is needed and changes to this file can drastically affect the
        performance of the application. For your information to insert a comment in a manifest file you can press the
        "CTRL" + "SHIFT" + "/" keys and start typing your comment -->

<!-- Defines the package name of the application that is used in compiling -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.linklab.inertia.besic">

    <!-- Defines what features are need by the application to run  -->
    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature android:name="android.software.type.watch" />
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Defines the application itself including services and application file information -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/besic_logo_round"
        android:label="@string/app_name_abbreviated"
        android:supportsRtl="true"
        android:launchMode="singleInstance"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <service
            android:name=".WatchFace"
            android:label="@string/watchface_name"
            android:permission="android.permission.BIND_WALLPAPER">

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watchface" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/besi" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/besi" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <activity
            android:name=".Settings"
            android:label="@string/preference_name"
            android:launchMode="singleInstance"
            android:icon="@mipmap/besic_logo_round">
        </activity>

        <activity
            android:name=".DataLogger"
            android:label="@string/datalogger_name"
            android:launchMode="singleInstance"
            android:icon="@mipmap/besic_logo_round">
        </activity>

    </application>
</manifest>
