<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.linklab.inertia.besic">

    <!-- Defines what features are need by the application to run -->
    <uses-feature android:name="android.hardware.type.watch" />
    <uses-feature android:name="android.software.type.watch" />

    <!-- Defines what permissions are need by the application to run -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/besic_logo_round"
        android:label="@string/app_name_abbreviated"
        android:launchMode="singleInstance"
        android:supportsRtl="true"
        android:theme="@style/BESIStyle"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <service
            android:name=".WatchFace"
            android:label="@string/watchface_name"
            android:launchMode="singleInstance"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watchface" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/besi" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/besi" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />

                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>
        <service
            android:name= "com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:exported="true"
            android:permission="true">
        </service>
        <service
            android:name=".Accelerometer"
            android:enabled="true"
            android:exported="true"
            android:permission="true"
            android:launchMode="singleInstance">
        </service>
        <service
            android:name=".Pedometer"
            android:enabled="true"
            android:exported="true"
            android:permission="true"
            android:launchMode="singleInstance">
        </service>
        <service
            android:name=".HeartRate"
            android:enabled="true"
            android:exported="true"
            android:permission="true"
            android:launchMode="singleInstance">
        </service>
        <service
            android:name=".SensorTimer"
            android:enabled="true"
            android:exported="true"
            android:permission="true"
            android:launchMode="singleInstance">
        </service>
        <service
            android:name=".Estimote"
            android:enabled="true"
            android:exported="true"
            android:permission="true"
            android:launchMode="singleInstance">
        </service>

        <activity
            android:name=".DataLogger"
            android:icon="@mipmap/besic_logo_round"
            android:label="@string/datalogger_name"
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/besic_logo_round"
            android:label="@string/mainactivity_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
<!--                <category android:name="android.intent.category.HOME" />          &lt;!&ndash; Comment this out to be able to return to the regular home settings for the watch&ndash;&gt;-->
<!--                <category android:name="android.intent.category.DEFAULT" />       &lt;!&ndash;Comment this out to be able to have the default watch activity be the default for the watch&ndash;&gt;-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:icon="@mipmap/besic_logo_round"
            android:label="@string/preference_name"
            android:theme="@style/Theme.AppCompat"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PainSurvey"
            android:icon="@mipmap/besic_logo_round"
            android:label="@string/painsurvey_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FollowupSurvey"
            android:icon="@mipmap/besic_logo_round"
            android:label="@string/followupsurvey_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EndOfDaySurvey"
            android:icon="@mipmap/besic_logo_round"
            android:label="@string/endofdaysurvey_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Battery"
            android:icon="@mipmap/besic_logo_round"
            android:label="@string/batteryactivity_name"
            android:launchMode="singleInstance">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".EndOfDayPromptA1"
            android:icon="@mipmap/besic_logo_round"
            android:label="@string/endofdaypromptone_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EndOfDayPromptA2"
            android:icon="@mipmap/besic_logo_round"
            android:label="@string/endofdayprompttwo_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EndOfDayPromptA3"
            android:icon="@mipmap/besic_logo_round"
            android:label="@string/endofdaypromptthree_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Amazon"
            android:enabled="true"
            android:label="@string/amazon_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EndOfDayPromptM1"
            android:enabled="true"
            android:label="@string/endofdaypromptmanual_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>